<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/navbar :: navbar"></header>
<div class="container mt-5">
    <h2>Добавить пост</h2>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Название статьи" class="form-control"><br>
        <input type="text" name="anons" placeholder="Название анонса" class="form-control"><br>
        <textarea name="full_text" placeholder="Текст" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
</body>
</html>